  header h1 {
    font-family: 'Arial', sans-serif;
    color: #ffffff;
    font-size: 36px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    justify-content: center;
    display: flex;
  }

  h2 {
    font-family: 'Arial', sans-serif;
    color: #ffffff;
    font-size: 36px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }

  h3 {
    font-family: 'Arial', sans-serif;
    color: #ffffff;
    font-size: 36px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }
  nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
  }
  
  nav li {
    margin: 0 10px;
  }
  
  nav a {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
    transition: color 0.3s;
    text-shadow: 1px 1px 7px black;
  }
  
  nav a:hover {
    color: #ff0000;
  }